/* Asegurándonos de que todas las clases sean específicas para el modal de añadir saldo */
.modal-addBalance-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro transparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-addBalance-content {
  background: #ffffff;
  border-radius: 12px;
  width: 420px;
  max-width: 95%;
  padding: 25px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  animation: modal-addBalance-fadeIn 0.3s ease-in-out;
  text-align: center;
}

.modal-addBalance-header {
  text-align: center;
  margin-bottom: 20px;
}

.modal-addBalance-header h3 {
  font-size: 1.5rem;
  color: #333;
  margin: 0;
}

.modal-addBalance-body {
  margin-bottom: 20px;
}

.modal-addBalance-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.modal-addBalance-terms-section {
  margin-top: 15px;
  text-align: left;
}

.modal-addBalance-terms-scrollable {
  height: 300px; /* Aumentar la altura para facilitar la lectura */
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  font-size: 0.9rem;
}

.modal-addBalance-checkbox-container {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 20px;
}

.modal-addBalance-checkbox-container input[type="checkbox"] {
  margin-right: 8px;
}

.modal-addBalance-checkbox-container label {
  font-size: 0.9rem;
  color: #333;
}

.modal-addBalance-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.modal-addBalance-footer button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}

.modal-addBalance-footer button:first-child {
  background-color: #f1f1f1;
  color: #555;
}

.modal-addBalance-footer button:last-child {
  background-color: #4CAF50;
  color: #fff;
  border: none;
}

.modal-addBalance-footer button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

.modal-addBalance-alert-danger {
  color: red;
  margin-bottom: 15px;
  text-align: center;
}

.modal-addBalance-loader {
  margin-right: 8px;
}

@keyframes modal-addBalance-fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
