.admin-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.admin-dashboard h1 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}

.withdrawal-request {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.withdrawal-request img.user-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.withdrawal-request span {
  flex: 1;
  font-size: 1.2em;
  margin-right: 10px;
}

.withdrawal-request button {
  background-color: #6a0dad; /* Violet color */
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
  transition: background-color 0.3s;
}

.withdrawal-request button:hover {
  background-color: #5c0a99;
}
