/* Estilos de las pestañas */
.profile-page .tabs-list {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.tabs-list button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: violet; /* Texto en violeta por defecto */
  background-color: #ddd; /* Fondo gris claro por defecto */
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.tabs-list button.active {
  background-color: var(--button-color, violet); /* Fondo del color seleccionado */
  color: white; /* Texto en blanco cuando está activo */
}

.tabs-list button:hover {
  transform: scale(1.05);
  background-color: var(--button-color-hover, #bbb); /* Hover color del botón */
  color: white; /* Texto en blanco al hacer hover */
}
