.profile-pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Ajusta este valor según sea necesario */
}

.profile-pic {
  width: 150px; /* Ajuste para que sea más grande acorde al diseño */
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid white;
  background-color: white;
  position: relative;
  cursor: pointer; /* Asegurarse de que el cursor cambie a puntero para indicar que es clickeable */
  transition: transform 0.3s ease;
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-pic-input {
  display: none;
}

.profile-pic-overlay {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.profile-pic.clickable:hover .profile-pic-overlay {
  display: block;
  opacity: 1;
}

.profile-pic.clickable:hover {
  transform: scale(1.05);
}
