/* Restablecer estilos básicos */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
}

.profile-page {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding-top: 50px;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover; /* Asegura que la imagen cubra toda el área */
  background-position: center; /* Centra la imagen */
  z-index: -1;
  filter: blur(8px);
  opacity: 0.5;
}

.profile-page .profile-container {
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  width: 90%;
  max-width: 1000px;
}

/* Estilos para el banner */
.profile-page .banner-container {
  width: 100%;
  height: 200px;
  position: relative;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}

.profile-page .banner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover; /* Volvemos a usar cover para asegurar el ajuste completo */
  background-position: center;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.profile-page .banner-input {
  display: none;
}

.profile-page .banner-overlay {
  display: none;
  position: absolute;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.profile-page .banner.clickable:hover .banner-overlay {
  display: block;
  opacity: 1;
}

.profile-page .banner.clickable:hover {
  transform: scale(1.05);
}

.profile-page .user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  padding-top: 25px;
}

.profile-page .user-info h2 {
  font-size: 2rem;
  margin: 0;
  margin-top: 5px;
}

.profile-page .artist-label {
  color: gray;
  font-style: italic;
  margin-top: 2.5px;
}

.profile-page .loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.profile-page .spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #6200ea;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.profile-page .error {
  color: red;
  text-align: center;
  margin-top: 10px;
}

/* Especificidad adicional para evitar conflictos */
.profile-page .service-item .delete-button {
  padding: 5px 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 2.5px;
}

.profile-page .service-item .delete-button:hover {
  background-color: darkred;
}

/* Estilos para el cuadro de patrocinio */
.profile-page .sponsor-box {
  background-color: violet;
  color: white;
  padding: 10px;
  margin: 5px 0;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-page .sponsor-box:hover {
  background-color: darkviolet;
}

.profile-page .sponsor-box[style*="pointer-events: none"] {
  cursor: not-allowed;
}

/* Estilos para el modal de patrocinio */
.profile-page .sponsor-modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-page .sponsor-modal-content {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 15px;
  position: relative;
}

.profile-page .sponsor-modal-content h2 {
  margin-top: 0;
}

.profile-page .sponsor-modal-content button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-page .sponsor-modal-content button:hover {
  background-color: #531091;
  color: white;
}

.profile-page .close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.profile-page .close:hover,
.profile-page .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Estilo para el botón de actualización del fondo */
.background-update-button {
  background-color: violet;
  color: white;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.background-update-button:hover {
  background-color: darkviolet;
}

.background-input {
  display: none;
}