/* index.css */
@import './Styles/variables.css';

/* Otros estilos globales */
html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}
